/*===== Background Color =====*/
.purple-skin,
.pst-carousel .owl-nav > div:hover,
.notif-lst li a:hover,
.lt-lst > span:hover,
.usr-btns > a,
.btn1,
.social-btns > ul > li > a > i.fa-foursquare,
.thm-btn,
.btns-grp > a.dflt-btn:hover,
.rev-opt > ul > li:hover,
.sb-drp > li:hover,
[type="checkbox"]:not(:checked) + label::after, 
[type="checkbox"]:checked + label::after,

.toggle-on,
.tgl-btn .toggle-group .toggle-on:hover,
.sv-btn,
.tckr-dta > span,
.tckt-cmt > span > i,
.tgl-icn,
.cmt-btn,
.me .msg-bx,
.clndr .fc-row .fc-content-skeleton td.fc-event-container,
.dn-btn,
.tm-pckr > h3,
.tm-pckr2 > h3,
.sv-btn > a,
.prvw-clndr-btm > a,
.cldr .days .day.today,
.crp-btm > input#btnCrop,
.cldr .days .day.selected,
.gpl-pst-lk-cm > li a:hover,
.pst-optns > ul li a:hover,
.cls-adjs-btns > a:hover,
.cls-adjs-btns > a.active,
.menu-options,
/*new changes --*/
.cmp-bnr > a,
.admin-area,
.quick-links > ul > li > a:hover,
.profile-banner-sec li > a, .profile-banner-sec li > label,
.user-device::before,
.widget-title::before,
.billing-sec button,
.chat-hdr
{
	background: #088dcd; 
}

/*===== Text Color =====*/
.pst-inf > h2 a:hover,
.cmnts-liks > a:hover,
.comment-detail > h2 a:hover,
.lnk,
.hsh-tgs > li,
.who-post-detail > p a,
.mor-cnt:hover,
.noti-bt > a:hover,
footer li a:hover,
.cmpny-nm,
.usr-lst-inf > h2,
.usr-btns > a:hover,
.btn1:hover,
.crt-grp > form > i,
.rev-inf > h2,
.rev-tm,
.rev-mts > li,
.grp-lst-inr > li h2,
.grp-inf > a,
.grp-frm button:hover,
.cmp-sc1 > a:hover,
.cmp-sc3 > span i,
.tkt1 button:hover,
.tckt-cmt,
.sndr-tckt > a,
.cmt-inf > h3,
.tcktng-itm > h2,
.snd-inf > li,
.cmt-dtl > h2,
.cmt-dtl > span,
.cmt-mta > li,
.skp-crpng,
.tm-prd,
.bst-tm-lst > li > span,
.tm-pckr.styl2 > h3 span,
.bst-tm > h3 span,
.msg-pst-dta > span,

.fb-sndr-nm > span a,
.msg-pst-dta > p a,
.cmnt-meta > li a,
.who-post-detail > span a,
.pnl-btm > span,
.noti-lst.setting > ul > li a:hover,
.side-menus .menu-item-has-children.active > a i,
.side-menus .menu-item-has-children.active > a
{
	color: #088dcd;
}

/*===== Border Color =====*/
.usr-btns > a,
.btn1,
.cmp-sc1 > a,
.tkt1 button,
.cldr .days .day:hover,
.quick-links > ul > li > a:hover
{
	border-color: #088dcd;
}
