@media (max-width: 1200px) {
header.side-header {left: -220px;}
.main-content.wide-content {padding-left: 45px;}
.main-content {padding-left: 45px;}
footer.wide-footer {padding-left: 45px;}
footer {padding-left: 45px;}
header.side-header.slide-menu {left: 0;}
header.side-header.sticky {top: 0;}
.top-bar {
	float: left;
    padding: 10px 0 10px 15px;
    position: static;
    width: 100%;
}


}

@media (max-width:1024px) {
.panel-layout {padding: 0;}
footer {float: left;margin-top: 50px;position: static;width: 100%;}
.sidebar.fixed {position: static !important;width: 100% !important;}
.profile-sec {padding: 0 15px;}
.profile-banner-sec {margin-top: 50px;}
.chat-system-wrp {bottom: 5%;right: 5%;}
.clndr {overflow: auto;}
.clndr .fc-view-container, 
.clndr .fc-toolbar {width:1000px}
.scnd-pp,
.popup-innr {max-width: 90% !important;}
.scnd-pp .pst-prvw-clndr {padding: 50px 10%;}
.rev-inf {width: 80%;}
.ad-img-lnk .fileContainer {min-height: 169px;}
.cmp-loc {padding: 30px;}
.tme-pckr {width: 100%;}
.tme-pckr .tab-content {padding: 25px 5%;}
.tme-pckr .tab-content .row > div {float: left;width: 50%;}
.forsq-pst-dta {width: 60%;}
	.panel-layout.wide-content {
		padding-left: 0;
	}
	.pst-carousel .pst-frmt > a > img{height: auto;}
	






}

@media (max-width: 768px) {
.icon-section .icon-container {width: 50%;}       
.top-bar {text-align: center;}
header.side-header {top: 0;}
header.side-header {z-index: 2147483646;}
/*.menu-options.active {left: 190px;position: fixed;top: 12px;z-index: 2147483647;}*/
.quick-links {
    margin: 0;
}
.top-bar > ul {display: inline-block;float: none;}
.top-bar-chart > .quick-report {float: left;margin: 30px 0 0;padding: 0 30px;width: 50%;}
.user-bar {padding: 0;}
.user-thumb {
    float: left;
    margin: 0;
    padding-top: 0;
    position: static;
    text-align: center;    
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
    transform: translate(0px);
    width: 100%;
}
.user-thumb > img {display: inline-block;float: none;padding: 0;width: 110px;}
.user-bar > .social-btns {float: left;margin-bottom: 50px;margin-top: 20px;text-align: center;width: 100%;}
.user-bar > ul {float: left;text-align: center;width: 100%;}
.user-bar > ul > li {display: inline-block;float: none;padding: 0 15px;}
.user-bar {text-align: center;}
.user-bar > a {display: inline-block;float: none;margin: 30px 0;}
.profile-all {margin-top: 30px;}
.acount-sec {padding: 60px 15px;}
.scnd-pp .pst-prvw-clndr {padding: 50px 5%;}
.bst-tm-lst > li span {width: 25%;margin: 0 20px;}
.notif {display: inline-block;float: none;margin-left: 20px;text-align: left;}
.user-bar > .social-btns > ul {display: inline-block;float: none;}
.usr-itm {padding: 40px 5%;}
.usr-pnl {margin-top: 70px;}
.ad-img-lnk .fileContainer {min-height: 126px;}
.cmp-sc4 {margin-top: 20px;}
.cmp-scl {padding-left: 30px;}
.grps-lst li {display: block;float: left;width: 50%;}
.crt-grp {padding: 20px 35px 35px;}
.crt-grp input {max-width: 100%;}
.btn1 {margin-left: 0;margin-top: 10px;}
.tckt-itm {padding: 35px;}
form.search-form{width: 210px;}




}

@media (max-width: 480px)  {
.top-bar > .logo {float: left; padding: 0; min-width: auto;}
.top-bar form.search-form {display: inline-block;float: none;margin: 16px 0 0;padding: 0;width: 90%;}
.top-bar > ul > li:first-child {margin: 0;}
.top-bar > ul > li {margin-left: 23px;}
.quick-links {
    display: inline-block;
    float: none;
    margin: 0 20px;
    padding-bottom: 0;
    padding-right: 0;
}

footer.wide-footer {padding: 20px 15px;}
footer p {float: left;font-size: 11px;text-align: center;width: 100%;}
footer ul {float: left;text-align: center;width: 100%;}
footer ul li {display: inline-block;float: none;}
.fltrs-lst > li {margin-bottom: 15px; width: 40px;}
.comments-thread ul.sub-comment {padding-left: 25px;}
.pst-inf {padding: 20px 15px;}
.profile-banner-sec > ul {
    float: left;
    margin: 20px 0 14px;
    position: static;    
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
    transform: translate(0px);
    width: 100%;
}
.who-post-this > span {margin-right: 13px;}
.cht-bdy {padding: 15px;}
.cldr {margin-bottom: 30px;}
.scnd-pp .profile-all {padding: 15px;}
.rev-opt {padding-left: 20px;}
.pnl-tl {padding: 15px 25px;}
.rev-pf {padding: 30px;text-align: center;}
.rev-inf {width: 100%;}
.rev-img {display: inline-block;float: none;margin-bottom: 20px;margin-right: 0;}
.rev-inf > h2,
.rev-tm,
.btns-grp,
.rev-mts {display: inline-block;float: none;}
.popup-innr .usr-pnl .pnl-bdy {padding: 40px 10%;}
.grp-lst-inr {margin-bottom: 0;}
.usr-lst {padding-left: 20px;}
.usr-lst > li > * {display: block;margin: 5px 0;}
.grps-lst.slct-lst li {margin-right: 0;width: 100%;}
.popup-innr .usr-pnl div.paddlr50 {padding: 50px 5%;}
.usr-cnt {padding: 30px;}
.popup-innr .user-activity {padding: 30px 20px;}
.cmp-loc {text-align: center;}
.cmp-loc > div {display: inline-block;margin-bottom: 20px;margin-right: 0;width: 100%;}
.cmp-thm {float: left;width: 100%;}
.cmp-bnr > img {width: 100%;}
.cmp-sc1 {display: inline-block;float: none;max-width: 80px;}
.adrs-frm {padding: 60px 5%;}
.tme-pckr .tab-content .row > div {margin: 10px 0;width: 100%;}
.brd-crmb {float: left;}
.brd-crmb > li:first-child {padding-left: 0;margin-left: 0;}
.poup-innr {max-width: 90%;}
.notif-lst {bottom: 5%;left: 3%;right: 3%;width: 94%;}
.notif-lst li span.cls-noti {right: 10px;top: 6px;}
.lt-lst {right: -50px;width: 260px;}
.grps-lst li {margin-right: 0;padding-right: 0;width: 100%;}
.grps-lst li::before {display: none;}
.popup-innr .usr-pnl {height: 500px;overflow-y: auto;}
.cmp-sc4 .usr-btns {display: inline-block;float: none;margin-top: 0;}
.pnl-tl.pnl-tl-img > span {float: left;text-align: center;width: 100%;}
.pnl-tl > span i {float: left;margin-bottom: 20px;padding-bottom: 5px;width: 100%;}
.pnl-tl > span i::before {bottom: 0;}
.ad-usr-frm {padding: 50px 5%;}
.cmt-thrd {padding-left: 20px;}
.pnl-tl > h4 {width: 100%;}
.tcktng-itm {padding: 35px 20px;}
.tckt-sndr {padding-right: 0;width: 100%;}
.tckr-dta {float: left;margin-top: 30px;padding-left: 0;width: 100%;}
.sndr-tckt > a.sndr-adr {float: left;}
.forsq-pst-prvw {padding: 30px;}
.forsq-pst-dta {width: 54%;}
	.menu-options {
    float: right;
    margin: 0 20px 0 0;
}
.quick-links {
    float: right;
    margin: 0 20px 0 0;
    padding-top: 7px;
}
	.profile-banner-sec > img {
    border-radius: 5px 5px 0 0;
    float: left;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
	.activity-timeline > li{padding-left: 40px;}
	.comments-thread{padding: 10px 0;}
	.comment-form{padding: 10px;}
	.pst-shr-inf{float: left; margin-right: 0;}
	.cmnts-liks{padding: 0;}
	.social-btns.bg-scl > ul > li{width: 120px;}
	.social-btns.bg-scl > ul > li > a > i{width: 120px; font-size: 7px;}
	.msg-pst-dta, 
	.forsq-pst-dv > img,
	.forsq-pst-dta{
		width: 100%;
	}
	.add-content{padding: 10px 20px;}
	.add-content .pstng-sdl{float: none;}












}

@media (max-width: 320px) {
.who-post-this > span {display: inline-block;float: none;margin-bottom: 15px;margin-right: 0;}
.activity-timeline > li {padding-left: 30px;}
.who-post-this {text-align: center;}
.who-post-detail {display: block;}
.who-post-detail > h3 > a {display: inline-block;float: none;}
.pst-shr-inf > * {display: inline-block;float: none !important;}
.pst-inf > h2 {font-size: 15px;}
.comment-thumb {display: inline-block;float: none;margin-bottom: 20px;margin-right: 0;}
.comment {text-align: center;}
.comments-thread ul.sub-comment {padding-left: 15px;}
.cmnt-meta {display: inline-block;float: none;}
.hsh-tgs > li {display: inline-block;float: none;}
.chat-system-wrp {left: 2%;right: 2%;width: 96%;}
.rev-pf {padding: 30px 15px;}
.popup-innr .usr-pnl .pnl-bdy {padding: 40px 5%;}
.usr-btns > a {margin: 5px 0;}
.popup-innr .usr-pnl,
.scrl,
.slimScrollDiv {height: 300px !important;}
.tkt1 {padding: 30px 7%;}
.sv-btn {margin-bottom: 20px;}
.tckt-sndr > img {margin-bottom: 20px;margin-right: 0;}
.sndr-tckt {width: 100%;}
.tckt-cmt {line-height: initial;padding: 13px 15px;}
.tckt-cmts ul {padding-left: 10px;}
.bsp-pst-prvw {padding: 20px;}
.forsq-pst-dta,
.msg-pst-dta {width: 100%;}
.twt-pst-dta {margin-top: 0;}


}