{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Educational Social Network" />
    <meta name="keywords" content="" />
	<title>Edsea | Go Beyond Education</title>
    <link rel="icon" href="{% static 'images/fav.png' %}" type="image/png" sizes="16x16"> 
    
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	<div class="container-fluid pdng0">
		<div class="row merged">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="land-featurearea">
					<div class="land-meta">
						<h1>Edsea<br>
						{% for profile in profiles %}
							{{ profile.name }}	
						{% endfor %}</h1>
						<p>
							Welcome to your Educational Community. Let's dive deep into the sea.
						</p>
						<div class="friend-logo">
							<span><img src="{% static 'images/wink.png' %}" alt=""></span>
						</div>
					</div>	
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="login-reg-bg">
					<div class="log-reg-area sign">
						<h2 class="log-title">Login</h2>
							<p>
								Sign in for a better experience
							</p>
						<form method="post" action="{% url 'login' %}">
							{% csrf_token %}
							<div class="form-group">	
							  <input type="text" id="input" name="username" required="required"/>
							  <label class="control-label" for="input">Email or Username</label><i class="mtrl-select"></i>
							</div>
							<div class="form-group">	
							  <input type="password" required="required" name="password"/>
							  <label class="control-label" for="input">Password</label><i class="mtrl-select"></i>
							</div>
							<div class="checkbox">
							  <label>
								<input type="checkbox" checked="checked"/><i class="check-box"></i>Always Remember Me.
							  </label>
							</div>
							<a href="#" title="" class="forgot-pwd">Forgot Password?</a>
							<p>{{ login_error }}</p>
							<div class="submit-btns">
								<button class="mtr-btn signin" type="submit" value="Login" formaction="{% url 'login' %}"><span>Login</span></button>
								<button class="mtr-btn signup" type="button" id="modal" name="modal"><span>Signup</span></button>
							</div>
						</form>
					</div>
					<div class="log-reg-area reg">
						<h2 class="log-title">Join Edsea</h2>
							<p>
								Let's dive in deep to the Educational Community.<br>Before that read our <a href="#"> Privacy Policy</a>
							</p>
						<form method="post" action="{% url 'signup' %}">
							{% csrf_token %}
							<div class="form-group">	
							  <input type="text" required="required" name="name"/>
							  <label class="control-label" for="input">Full Name</label><i class="mtrl-select"></i>
							</div>
							<div class="form-group">	
							  <input type="text" required="required" name="email"/>
							  <label class="control-label" for="input">Email@</label><i class="mtrl-select"></i>
							</div>
							<div class="form-group">	
							  <input type="password" required="required" name="password"/>
							  <label class="control-label" for="input">Password</label><i class="mtrl-select"></i>
							</div>
							<div class="form-radio">
							  <div class="radio">
								<label>
								  <input type="radio" name="gender" value="m" checked="checked"/><i class="check-box"></i>Male
								</label>
							  </div>
							  <div class="radio">
								<label>
								  <input type="radio" name="gender" value="f"/><i class="check-box"></i>Female
								</label>
							  </div>
							  <div class="radio">
								<label>
								  <input type="radio" name="gender" value="z"/><i class="check-box"></i>Rather Not Say
								</label>
							  </div>
							</div>
							
							<div class="submit-btns">
									<button class="mtr-btn signin" type="submit" value="Join" formaction="{% url 'signup' %}"><span>Agree & Join</span></button>
									
							<a href="#" title="" class="already-have">Already have an account</a>
								</div>
								
						</form>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
	
	<script src="{% static 'js/main.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
</body>	
</html>