{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Machan of Kerala" />
    <meta name="keywords" content="" />
	<title>MACHAN</title>
    <link rel="icon" href="{% static 'images/fav.png' %}" type="image/png" sizes="16x16"> 
    
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	<div class="container-fluid pdng0">
		<div class="row merged">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="land-featurearea">
					<div class="land-meta">
						<h1>Edsea<br>
						{% for profile in profiles %}
							{{ profile.name }}	
						{% endfor %}</h1>
						<p>
							Winku is free to use for as long as you want with two active projects.
						</p>
						<div class="friend-logo">
							<span><img src="{% static 'images/wink.png' %}" alt=""></span>
						</div>
						<a href="#" title="" class="folow-me">Follow Us on</a>
					</div>	
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="login-reg-bg">
					<div class="log-reg-area sign">
						<h2 class="log-title">Sign</h2>
							<p>
								Already have an account? <a href="{% url 'home' %}" title="">Login now</a>
							</p>
						
							<form method="post" action="{% url 'signup' %}">
								{% csrf_token %}
								<div class="form-group">	
								  <input type="text" required="required" name="name"/>
								  <label class="control-label" for="input">Full Name</label><i class="mtrl-select"></i>
								</div>
								<div class="form-group">	
								  <input type="text" required="required" name="email"/>
								  <label class="control-label" for="input">Email@</label><i class="mtrl-select"></i>
								</div>
								<div class="form-group">	
								  <input type="password" required="required" name="password"/>
								  <label class="control-label" for="input">Password</label><i class="mtrl-select"></i>
								</div>
								<div class="form-radio">
								  <div class="radio">
									<label>
									  <input type="radio" name="gender" value="m" checked="checked"/><i class="check-box"></i>Male
									</label>
								  </div>
								  <div class="radio">
									<label>
									  <input type="radio" name="gender" value="f"/><i class="check-box"></i>Female
									</label>
								  </div>
								  <div class="radio">
									<label>
									  <input type="radio" name="gender" value="z"/><i class="check-box"></i>Rather Not Say
									</label>
								  </div>
								</div>
								
								<div class="submit-btns">
										<button class="mtr-btn signin" type="submit" value="Join" formaction="{% url 'signup' %}"><span>Agree & Join</span></button>
										
								<a href="#" title="" class="already-have">Already have an account</a>
									</div>
									
							</form>

					</div>
					<div class="log-reg-area reg">
						<h2 class="log-title">Register</h2>
							<p>
								Don’t use Winku Yet? <a href="#" title="">Take the tour</a> or <a href="#" title="">Join now</a>
							</p>
						
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
	
	<script src="{% static 'js/main.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
</body>	
</html>