{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Edsea: Educational Social Network</title>
    <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16"> 
    
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	
</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	<div class="postoverlay"></div>
	<div class="responsive-header">
		<div class="mh-head first Sticky">
			<span class="mh-btns-left">
				<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
			</span>
			<span class="mh-text">
				<a href="newsfeed.html" title=""><img src="{% static 'images/logo2.png' %}" alt=""></a>
			</span>
		</div>
		<div class="mh-head second">
			<form class="mh-form">
				<input placeholder="search" />
				<a href="#/" class="fa fa-search"></a>
			</form>
        </div>
        <nav id="menu" class="res-menu">
			<ul>
				<li><span>Profile</span></li>
				<li><span>Logout</span></li>
			</ul>
		</nav>
		
	</div><!-- responsive header -->
	
	<div class="topbar stick">
		<div class="logo">
			<a title="" href="newsfeed.html"><img src="{% static 'images/logo.png' %}" alt=""></a>
		</div>
		
		<div class="top-area">
			<ul class="setting-area">
				<li>
					<a href="" title="Home" data-ripple=""><i class="ti-search"></i></a>
					<div class="searched">
						<form method="post" class="form-search">
							<input type="text" placeholder="Search Friend">
							<button data-ripple><i class="ti-search"></i></button>
						</form>
					</div>
				</li>
				<li><a href="newsfeed.html" title="Home" data-ripple=""><i class="ti-home"></i></a></li>
				<li>
					<a href="#" title="Notification" data-ripple="">
						<i class="ti-bell"></i><span>20</span>
					</a>
					<div class="dropdowns">
						<span>4 New Notifications</span>
						<ul class="drops-menu">
							
							<li>
								<a href="notifications.html" title="">
									<img src="{% static 'images/resources/thumb-3.jpg' %}"" alt="">
									<div class="mesg-meta">
										<h6>Andrew</h6>
										<span>Hi, how r u dear ...?</span>
										<i>2 min ago</i>
									</div>
								</a>
								<span class="tag blue">Unseen</span>
							</li>
							
						</ul>
						<a href="notifications.html" title="" class="more-mesg">view more</a>
					</div>
				</li>
				<li>
					<a href="#" title="Messages" data-ripple=""><i class="ti-comment"></i><span>12</span></a>
					<div class="dropdowns">
						<span>5 New Messages</span>
						<ul class="drops-menu">
							<li>
								<a href="notifications.html" title="">
									<img src="{% static 'images/resources/thumb-1.jpg' %}"" alt="">
									<div class="mesg-meta">
										<h6>sarah Loren</h6>
										<span>Hi, how r u dear ...?</span>
										<i>2 min ago</i>
									</div>
								</a>
								<span class="tag green">New</span>
							</li>
							
						</ul>
						<a href="messages.html" title="" class="more-mesg">view more</a>
					</div>
				</li>
			</ul>
			<div class="user-img">
				<img src="{% static 'images/resources/admin.jpg' %}" alt="">
				<span class="status f-online"></span>
				<div class="user-setting">
					<a href="{% url 'profile' active_user.username %}" title=""><i class="ti-user"></i>profile</a>
					<a href="{% url 'logout' %}" title=""><i class="ti-power-off"></i>log out</a>
				</div>
			</div>
		</div>
	</div><!-- topbar -->
	
	
{% block content %}
{% endblock %}
	
	<script src="{% static 'js/main.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'js/map-init.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
	 $(document).ready(function() {
		 {% for post in posts %}
			 {% for profile in post.liked_profiles.all %}
			 	{% if profile.id == my_profile.id %}
					 $("#likeicon-{{post.id}}").attr("class", "ti-heart")
			 	{% endif %}
			{% endfor %}
		{% endfor %}
 	});
	</script>

	<script>
	$(".like-btn").click(function(e){
		e.preventDefault()
		var this_ = $(this)
		var dataid = this_.attr("data-id")
		var likeUrl = this_.attr("data-href")
		var likeCount = parseInt(this_.attr("data-likes")) | 0
		var postid = this_.attr("data-id")
		$.ajax({
			url: likeUrl,
			method: "GET",
			data: {},
			success: function(data){
				//console.log(data)
				var newLikeCount
				likeiconvar = "#likeicon" + "-" + postid
				htmlLikeCountvar = ".htmlLikeCount" + "-" + postid
				if(data.liked){
					newLikeCount = likeCount + 1
					$(likeiconvar).attr("class", "ti-heart")
					// $(".ti-heart-broken").attr("class", "ti-heart")
					 console.log("LIKED")
					$(htmlLikeCountvar).text(newLikeCount)
				} else{
					newLikeCount = likeCount - 1
					// $(".ti-heart").attr("class", "ti-heart-broken")
					$(likeiconvar).attr("class", "ti-heart-broken")
					 console.log("UNLIKED")
					$(htmlLikeCountvar).text(newLikeCount)
				}
				this_.attr("data-likes", newLikeCount)
			},error: function(error){
				console.log("error")
			}
		})
	})
	</script>

	<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'js/infinite.min.js' %}"></script>
	
	 <script>
			var infinite = new Waypoint.Infinite({
			  element: $('.infinite-container')[0],
			  onBeforePageLoad: function () {
				$('.loading').show();
			  },
			  onAfterPageLoad: function ($items) {
				$('.loading').hide();
			  }
			});
	</script>
</body>	
</html>