
{% extends "base.html" %}{% load static %}
{% block content %}
		
	<section>
		<div class="gap gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="row merged20" id="page-contents">
							<div class="col-lg-3 d-none d-lg-block d-xl-block">
								<aside class="sidebar static">
									<div class="widget">
										<h4 class="widget-title">Shortcuts</h4>
										<ul class="naves">
											<li>
												<i class="ti-clipboard"></i>
												<a href="newsfeed.html" title="">People</a>
											</li>
											<li>
												<i class="ti-mouse-alt"></i>
												<a href="inbox.html" title="">Pages</a>
											</li>
											
										</ul>
									</div><!-- Shortcuts -->
									<div class="widget">
										<h4 class="widget-title">Recent Activity</h4>
										<ul class="activitiez">
											<li>
												<div class="activity-meta">
													<i>10 hours Ago</i>
													<span><a href="#" title="">Commented on Video posted </a></span>
													<h6>by <a href="time-line.html">black demon.</a></h6>
												</div>
											</li>
											
										</ul>
									</div><!-- recent activites -->
									<div class="widget stick-widget">
										<h4 class="widget-title">Who's follownig</h4>
										<ul class="followers">
											<li>
												<figure><img src="images/resources/friend-avatar2.jpg" alt=""></figure>
												<div class="friend-meta">
													<h4><a href="time-line.html" title="">Kelly Bill</a></h4>
													<a href="#" title="" class="underline">Add Friend</a>
												</div>
											</li>
											
									</div><!-- who's following -->
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-6">
								<div class="central-meta new-pst">
									<div class="new-postbox">
										<figure>
											<img src="images/resources/admin2.jpg" alt="">
										</figure>
										<div class="newpst-input">
											<form method="post" action="{% url 'addpost' %}" enctype="multipart/form-data">
                                                {% csrf_token %}
												<textarea name="post" class="post" id="post" rows="2" placeholder="write something" required></textarea>
												<div class="attachments">
													<ul>
														<li>
                                                            <div class="btn  btn-sm float-left">
                                                                <input type="file" accept="image/png, image/jpeg" name="image">
                                                            </div>
                                                        </li>
														<li>
															<button type="submit">Post</button>
														</li>
													</ul>
												</div>
											</form>
										</div>
									</div>
								</div><!-- add post new box -->
								<div class="">
								<div class="infinite-container">
									{% for post in posts %}
									<div class="infinite-item">{{ number }}
											<div class="central-meta item">
													<div class="user-post">
														<div class="friend-info">
															<figure>
																<img src="{% static 'images/resources/friend-avatar10.jpg' %}" alt="">
															</figure>
															<div class="friend-name">
																<ins><a href="{% url 'profile' post.profile.user.username %}" title="">{{ post.profile.name }}</a></ins>
																<span>{{ post.date }}</span>
															</div>
															<div class="post-meta">
																{% for post_image in post_images %}
																	{% if post_image.post.id == post.id %}
																		<img src="{{ post_image.image.url }}" alt="">
																	{% endif %}
																{% endfor %}
																<div class="we-video-info">
																	<ul>
																		<li>
																			<span class="views" data-toggle="tooltip" title="views">
																				<i class="fa fa-eye"></i>
																				<ins>{{ post.profile.user.id }}</ins>
																			</span>
																		</li>
																		<li>
																			<span class="like" data-toggle="tooltip">
																				<a class="like-btn" data-id="{{ post.id }}" data-likes="{{  post.liked_profiles.count }}" data-href="{% url 'likeAPI' post.id %}" href="">
																							<i id="likeicon-{{post.id}}" class="ti-heart-broken"></i>

																				<ins class="htmlLikeCount-{{post.id}}">{{ post.liked_profiles.count}}</ins></a>																
																			</span>
																				
																		</li>
																	</ul>
																</div>
																<div class="description">
																	<p>
																		{{ post.content | linebreaks }}
																	</p>
																</div>
															</div>
														</div></a></a></a></a>
														
													</div>
												</div>
									</div>
									{% endfor %}
								</div>
								<!-- 
								<div class="loading" style="display: none;">
									Loading...
								</div> -->
								<!-- 
								{% if posts.has_next %}
									<a class="infinite-more-link" href="?page={{ posts.next_page_number }}">More</a>
								{% endif %} -->
								
								
								</div>
								{% if posts.has_next %}
								<div style="width: 100%; text-align:center;">
									<a href="?page={{ posts.next_page_number }}" style="display: block; background: aquamarine; height: 40px; width: 120px; margin:0 auto; ">Load More</a>
								</div>
								{% endif %}
							</div><!-- centerl meta -->
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
										<h4 class="widget-title">Your page</h4>	
										<div class="your-page">
											<figure>
												<a href="#" title=""><img src="{% static 'images/resources/friend-avatar9.jpg' %}" alt=""></a>
											</figure>
											<div class="page-meta">
												<a href="#" title="" class="underline">My page</a>
												<span><i class="ti-bell"></i><a href="insight.html" title="">Your Posts <em>2</em></a></span>
											</div>
											<div class="page-likes">
												<ul class="nav nav-tabs likes-btn">
													<li class="nav-item"><a class="active" href="#link1" data-toggle="tab">likes</a></li>
													 <li class="nav-item"><a class="" href="#link2" data-toggle="tab">views</a></li>
												</ul>
												<!-- Tab panes -->
												<div class="tab-content">
												  <div class="tab-pane active fade show " id="link1" >
													<span><i class="ti-heart"></i>884</span>
													  <a href="#" title="weekly-likes">35 new likes this week</a>
													  <div class="users-thumb-list">
														<a href="#" title="Anderw" data-toggle="tooltip">
															<img src="{% static 'images/resources/userlist-1.jpg' %}" alt="">  
														</a>
														<a href="#" title="frank" data-toggle="tooltip">
															<img src="{% static 'images/resources/userlist-2.jpg' %}" alt="">  
														</a>
														<a href="#" title="Sara" data-toggle="tooltip">
															<img src="{% static 'images/resources/userlist-3.jpg' %}" alt="">  
														</a>
														<a href="#" title="Amy" data-toggle="tooltip">
															<img src="{% static 'images/resources/userlist-4.jpg' %}" alt="">  
														</a>
														<a href="#" title="Ema" data-toggle="tooltip">
															<img src="{% static 'images/resources/userlist-5.jpg' %}" alt="">  
														</a>
														<a href="#" title="Sophie" data-toggle="tooltip">
															<img src="{% static 'images/resources/userlist-6.jpg' %}" alt="">  
														</a>
														<a href="#" title="Maria" data-toggle="tooltip">
															<img src="{% static 'images/resources/userlist-7.jpg' %}" alt="">  
														</a>  
													  </div>
												  </div>
												  <div class="tab-pane fade" id="link2" >
													  <span><i class="ti-eye"></i>440</span>
													  <a href="#" title="weekly-likes">440 new views this week</a>
													  <div class="users-thumb-list">
														<a href="#" title="Anderw" data-toggle="tooltip">
															<img src="images/resources/userlist-1.jpg" alt="">  
														</a>
														<a href="#" title="frank" data-toggle="tooltip">
															<img src="images/resources/userlist-2.jpg" alt="">  
														</a>
														<a href="#" title="Sara" data-toggle="tooltip">
															<img src="images/resources/userlist-3.jpg" alt="">  
														</a>
														<a href="#" title="Amy" data-toggle="tooltip">
															<img src="images/resources/userlist-4.jpg" alt="">  
														</a>
														<a href="#" title="Ema" data-toggle="tooltip">
															<img src="images/resources/userlist-5.jpg" alt="">  
														</a>
														<a href="#" title="Sophie" data-toggle="tooltip">
															<img src="images/resources/userlist-6.jpg" alt="">  
														</a>
														<a href="#" title="Maria" data-toggle="tooltip">
															<img src="images/resources/userlist-7.jpg" alt="">  
														</a>  
													  </div>
												  </div>
												</div>
											</div>
										</div>
									</div><!-- page like widget -->
									<div class="widget">
										<div class="banner medium-opacity bluesh">
											<div class="bg-image" style="background-image: url(images/resources/baner-widgetbg.jpg)"></div>
											<div class="baner-top">
												<span><img alt="" src="images/book-icon.png"></span>
												<i class="fa fa-ellipsis-h"></i>
											</div>
											<div class="banermeta">
												<p>
													create your own favourit page.
												</p>
												<span>like them all</span>
												<a data-ripple="" title="" href="#">start now!</a>
											</div>
										</div>											
									</div>
									<div class="widget friend-list stick-widget">
										<h4 class="widget-title">Friends</h4>
										<div id="searchDir"></div>
										<ul id="people-list" class="friendz-list">
											<li>
												<figure>
													<img src="images/resources/friend-avatar.jpg" alt="">
													<span class="status f-online"></span>
												</figure>
												<div class="friendz-meta">
													<a href="time-line.html">bucky barnes</a>
													<i>wintersolder@gmail.com</i>
												</div>
											</li>
											
										</ul>
										
									</div><!-- friends list sidebar -->
								</aside>
							</div><!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>
		  


	
	{% endblock %}